@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 156 72% 67%;
    --primary-foreground: 164 85% 16%;
 
    --secondary: 164 85% 16%;
    --secondary-foreground: 78 92% 95%;
 
    --muted: 164 85% 16%;
    --muted-foreground: 215.478 16.3% 46.9%;
 
    --accent: 164 85% 16%;
    --accent-foreground: 78 92% 95%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: hsl(212.7,26.8%,83.9);
    
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  ol > li {
    @apply list-decimal list-inside;
  }
  ul > li {
    @apply list-disc list-inside;
  }
}

.textBold {
  font-weight: bold;
}

.textItalic {
  font-style: italic;
}


body {
  @apply flex flex-col h-screen
}

main {
  @apply flex-1 flex flex-col
}

/* react-slick adjustment start */

.slick-list, .slick-track, .slick-slack {
  @apply h-full;
  overflow:visible!important;
  height: 100%!important;
}

.slick-dots {
  bottom: 4px!important;
  user-select: none;
  pointer-events: none;
}

.slick-slider, div:has(> .slider-item){
  @apply h-full
}

/* react-slick adjustment end */

section {
  padding: 0!important;
  @apply w-full relative;
}

.placeholder {
  /* base for all placeholder customly created to allow click through */
  user-select: none;
  pointer-events: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display:none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.info_div {
  @apply h-1/4 md:h-1/2 md:w-1/2;
}

.shadcn_button_default {
  @apply inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2
}

.border_b_white {
  border-bottom: 2px solid white;
  border-top:1px solid black;
  border-left:1px solid black;
  border-right:1px solid black;
}

.-top-64 {
  top:-64px;
}